<!-- <div *ngIf="!showinnerDiv" class="flex text-center font-clash font-bold wrapper">
  <div #whiteDiv class="w-0 min-h-screen loadingscreen items-center flex justify-center">
    <h1 class="text-9xl text-neutral-600 opacity-0 letter m">M</h1>
  </div>
  <div #blackDiv class="w-0 min-h-screen loadingscreen1 items-center flex justify-center">
    <h1 class="text-9xl opacity-0 letter c">C</h1>
  </div>
</div> -->
<div *ngIf="showinnerDiv">
  <div [class]="cursorCSS" [ngStyle]="cursorStyle" [ngClass]="cursorSizeClass"></div>
  <div (click)="menuBtnClicked()" class="menu-btn .increase-cursor-size">
    <img #menuBtn style="scale: 1.3;" [src]="menuImageSrc" alt="">
  </div>
</div>

<router-outlet *ngIf="showinnerDiv"></router-outlet>